<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aigirlfriend.memory.mapper.MemoryMapper">
    <update id="updateMemory">
        update user_memories <set>
        <if test="memoryValue != null"> memory_value = #{memoryValue}, </if>
        <if test="importance != null">importance = #{importance},</if>
        <if test="updatedAt != null">updated_at = #{updatedAt}</if>
    </set>
        where id = #{id}
    </update>
</mapper>
